*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: url('../clima.gif');
    background-repeat: no-repeat;
    background-size:cover;
}

.App{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.card{
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    width: 300px;
    height: 310px;
    background-color: #d1d0d3;
   
    margin: 15px;
}

.card div{
    display: flex;
    align-items: center;
    gap: 1;
}

.card h1{
    color: #772efd;    
}

.card h4{
    color: #772efd;
    margin-top: 15px;
}

.card span{
    font-weight: bold;
    color: black;
}

.card img{
    width: 100px;
    object-fit: cover;
}

.card button{
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #772efd;
    cursor: pointer;
    margin-top: 12px;
    font-weight: bold;
}

.card button:hover{
    color: #772efd;
    background-color: #fff;
    border: 1px solid #772efd;
}

.fondo {
    background-image: linear-gradient(135deg, #0087d4, #5054b8, #2f3f80, #161569,
            #5aa984, #a950a1, #ff7cae);
    background-size: 500%;
    animation: banimado 10s infinite;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinner 5s infinite;
}

@keyframes banimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes spinner{
    0%{
        box-shadow: 1px 1px 1px 1px rgb(2, 46, 2);
    }
    50%{
        box-shadow: 1px 1px 1px 10px rgb(16, 112, 16);
    }
    100%{
        box-shadow: 1px 1px 1px 1px rgb(7, 182, 7);
    }
}